#breadcrumb {
  padding: 10px 30px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0 auto;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  /*position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;*/
}

.inside #map-container {
  height: 400px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
}

#restaurant-name {
  color: #0d7e01;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.inside #restaurant-img {
  width: 60%;
  img{
    max-width: 100%;
  }
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;

}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px;

}

#restaurant-container {
  display: flex;
  flex-wrap: wrap;

}

.restaurant-info {
  margin: 0 20px 20px 0;
}
.btn{
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  &:hover, &:focus{
    box-shadow: #01447e 1px 2px 4px 1px;
  }
}


#reviews-container {
  padding: 30px 40px 80px;
  position: relative;
  button#review-modal-trigger {
    position: absolute;
    bottom: -37px;
    right: 0;

  }
  #user-review {
    position: absolute;
    right: 25px;
    top: -2px;
    z-index: 1;
    background-color: #ddd;

    form {
      min-width: 280px;
      max-width: 100%;
      padding: 0 20px;
      border: 1px solid #ccc;
      border-top: none;
      box-shadow: #ccc 1px 1px 10px 0;
      visibility: hidden;
      height: 0;
      transition: height .2s ease;
      &.visible{
        height: 400px;
        visibility: visible;
        padding: 20px;
      }
      .form-field {
        padding: 10px 2px;
        label:not(.radio){
          display: block;
        }
        textarea{
          width: 100%;
          resize: vertical;
        }
        p{
          margin: 0;
        }
        input[type="text"]{
          height: 25px;
          width: 100%;
        }

      }

      input[type="radio"]{
        margin-right: 15px;
    }

    }
  }

}

#reviews-container h2 {
  color: #0d7e01;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  border-radius: 20px 0 20px 0;
  position: relative;
  max-width: 32%;
  padding-bottom: 10px;
}

#reviews-list li header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

#reviews-list li header p {
  margin: 0;
  color: #eee;
}

#reviews-list li p {
  margin: 0 0 10px;
  padding: 0 20px;
}

#reviews-list li > p:nth-child(2) {
  background-color: #21759b;
  padding: 6px 16px;
  display: inline-block;
  color: #fff;
  margin: 20px;
  border-radius: 5px;
}

#restaurant-hours td {
  color: #666;
}



/*Media queries*/

@media screen and (max-width: 590px) {
  .filter-options {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
  nav h1 a {
    font-size: 1rem;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 774px) {
  #restaurants-list li {
    width: 100%;
    max-width: 100%;
  }

  .inside #restaurant-img {
    width: 100%;
    img{
      max-width: 100%;
    }
  }

  .restaurant-info {
    margin: 20px 0;
  }

  #reviews-list li {
    max-width: 100%;
  }
}

@media screen and (min-width: 775px) and (max-width: 1064px) {
  .inside #restaurant-img {
    width: 44%;
    align-self: center;
    img{
      max-width: 100%;
    }
  }
  #reviews-list li{
    max-width: 49%;
  }
}